{% load static %}
<div class="container">
<div class="row footer">
    <p>&nbsp;</p>
    <p>LASMA ARTMANE</p>
    <p>Phone: +371 27845665</p>
    <p>lasmaartmane@inbox.lv</p>
    <p>&nbsp;</p>
    <a href="https://www.facebook.com/lasma.artmane" class="fa fa-facebook"></a>
    <a href="https://www.flickr.com/photos/nobody_lv/" class="fa fa-flickr"></a>
    <a href="https://www.instagram.com/i.am.endangered/" class="fa fa-instagram"></a>
    <p>© Lasma Artmane. All rights reserved.</p>
</div>
</div>