{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% if picture.is_blog %}
                <div class="centered">
                <h4>{{ picture.text | safe }}</h4>
            </div>
            <div class="img-hover-zoom">
                <a href="{{ picture.picture.url }}" target="_blank">
                <img class="about" src="{{ picture.picture.url }}" alt="{{ picture.name }}">
                </a>
            </div>
    </div>
    {% else %}
        <div class="row">
        <div class="col col-md-6">
            <div class="img-hover-zoom delay">
                <a href="{{ picture.picture.url }}" target="_blank">
                <img class="about" src="{{ picture.picture.url }}" alt="{{ picture.name }}">
                </a>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="centered">
                {{ picture.text | safe }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}