{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <p class="gallery-name">{{ gallery.name }}</p>
    <p class="gallery-description">{{ gallery.text }}</p>
    <div id="photos">
        {% for picture in pictures %}
        <div class="image-hover">
            <div class="image-it">
                <a href="{% url 'picture' picture.id %}">
                <img src="{{ picture.picture.url }}"
                     alt="{{ picture.name }}">
                </a>
            </div>
            <div class="image-text">
                <h4>{{ picture.name }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
